body{
    background-color: #282c34;
}
.div5{
    height: 50vh;
    //border: #282c34 solid 1px;
    //border: #282c34 solid 1px;
    transition: transform .4s;
    margin-left: 0.1vw;
    overflow-y: scroll;
    margin-bottom: 3px;
    //background-color: #282c34;

}
.div5:hover{
    transform: scale(1.1);
}
.title{
    border-bottom: #1686CB solid 1px;
    padding: 10px 15px;
    color: #1686CB;
    text-overflow: ellipsis;
    max-height: 5vh;
    overflow: hidden;
}
.bloc{
    //background-color: red;
    padding-left: 15vw;
}
.text{
    font-size: 18px;
    padding: 10px 15px;
    color: #F8C508;
    text-overflow: ellipsis;
    max-height: 15vh;
    overflow: hidden;

}

.BlocButton{
    float: right;
}
.button1{
    background-color: darkred;
    border: darkred;
    margin-right: 5px;
    margin-bottom: 5px;

}
.button2{
    background-color: #F8C508;
    border: #F8C508;
    margin-bottom: 5px;
}
.delete{
    font-size: 10px;
}
.alert{
    background-color: darkred;
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    border: darkred solid 1px;
    color: #282c34;
    opacity: 0.80;
    top: 0;
    left: 0;
    z-index: 11;
}